<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Screen Stream</title>
</head>
<body>
    {{video_tag|safe}}
    <script>
        function sendClick(event,monitor_id=1) {
            var img = document.getElementById('screenshot');
            var rect = img.getBoundingClientRect();
            var x = (event.clientX - rect.left) / rect.width;
            var y = (event.clientY - rect.top) / rect.height;
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/click", true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.send("x=" + x + "&y=" + y+ "&monitor_id=" + monitor_id);
        }

        document.addEventListener('keydown', function(event) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/key_press", true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.send("key=" + event.key);
        });

        document.addEventListener('keyup', function(event) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/key_release", true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.send("key=" + event.key);
        });
    </script>
</body>
</html>
